---

---

<div id="shopify-section-bingo-footer" class="shopify-section">
    <footer id="footer">
      <div class="bingoFooterContainer">
        <div class="footerCenter">
          <div class="maxContainer">
            <div class="footerCenterWrap">
              <div class="row">
                <div class="maxFooter maxFooterLogo">
                  <div class="footerLogo">
                    <a href="/">
                      <img
                        class="img-responsive-footer"
                        alt="Logo"
                        src='/imgs/logo_1.png'
                      />
                    </a>
                  </div>
                  <div class="bingoCopyRight">
                    © 2024 Boost Waist. <br />All Rights Reserved.
                  </div>
                </div>
                <div class="maxFooter maxFooterLinks">
                  <div class="footerAllPages">
                    <h4 class="bingoFooterTitle">Information</h4>
                    <div class="bingoContent">
                      <ul class="bingoFooterLinks list-unstyled">
                        <li class="">
                          <a href="/shop" title="">New arrivals</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="maxFooter maxFooterLinks">
                  <div class="footerAllPages">
                    <h4 class="bingoFooterTitle">My Account</h4>
                    <div class="bingoContent">
                      <ul class="bingoFooterLinks list-unstyled">
                        <li class="">
                          <a href="/cart" title="">Shopping cart</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="maxFooter maxFooterContact">
                  <div class="footerAllPages">
                    <h3 class="bingoFooterTitle">Contact</h3>
                    <div class="bingoContent">
                      <div class="address">
                        52 Cats Lane, Sudbury, Suffolk CO1 2SQ
                      </div>
                      <div class="phone">
                        (855) 880-2548
                      </div>
                      <div class="email">
                        <a
                          href="mailto:support@boosthealthstore.com"
                          target="_blank">support@boosthealthstore.com</a
                        >
                        <a href="mailto:support@boosthealthstore.com" target="_blank"
                          >support@boosthealthstore.com</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="maxFooter maxFooterNewsletter">
                  <div class="footerAllPages footerNewsletter">
                    <h3 class="bingoFooterTitle">Newsletter</h3>
                    <div class="bingoContent">
                      <div class="newsletterDescription">
                        Signup to receive all stunning offers from us weekly
                      </div>
                      <form
                        action="#"
                        method="POST"
                        id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form"
                        target="_blank"
                        class="formNewsletter clearfix"
                      >
                        <div class="form-group">
                          <input
                            type="email"
                            value=""
                            placeholder="email@example.com"
                            name="EMAIL"
                            id="mail"
                            class="form-control"
                            aria-label="email@example.com"
                          />
                          <button
                            id="subscribe"
                            class="btn btnNewsletter"
                            type="submit"
                          >
                            <i class="pe-7s-paper-plane"></i>
                            <span>Subscribe</span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <div id="goToTop" class=""><span class="fa fa-long-arrow-up"></span></div>
</div>

<style>
  .img-responsive-footer {
    display: block;
    max-width: 100%;
    height: auto;
    width: 40%;
  }

  @media screen and (max-width: 767px) {
    .img-responsive-footer {
      width: 40%;
    }
  }
</style>

<script is:inline>
  const submit = document.getElementById("subscribe");

  submit.addEventListener("click", function (event) {
    event.preventDefault();
    window.alert("Thank you for subscribing!");
    document.getElementById("mail").value = "";
    window.location.href = "/";
  });
</script>

<!-- <script is:inline
  src="//bingo-max.myshopify.com/cdn/shop/t/11/assets/vendor.js?v=49339695033396002801498718688"
  type="text/javascript"></script> -->
<!-- <script is:inline
  src="//bingo-max.myshopify.com/cdn/shop/t/11/assets/bootstrap.js?v=127719238096454147491498718683"
  type="text/javascript"></script> -->
<!-- <script is:inline
  src="//bingo-max.myshopify.com/cdn/shop/t/11/assets/handlebars.js?v=127319619962785791401498718685"
  type="text/javascript"></script> -->
<!-- <script is:inline
  src="//bingo-max.myshopify.com/cdn/shop/t/11/assets/fastclick.js?v=62400018489725244251498718683"
  type="text/javascript"></script> -->
<!-- <script is:inline
  src="//bingo-max.myshopify.com/cdn/shop/t/11/assets/master.js?v=94094406577085592931498718691"
  type="text/javascript"></script> -->
<!-- <script is:inline
  src="//bingo-max.myshopify.com/cdn/shop/t/11/assets/bingo.js?v=28911583782809635111498788952"
  type="text/javascript"></script>  -->