---

---
<div id="myModalContact" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Contact Us</h1>
    <hr>
    <p>
    If you have any questions or concerns please feel free to contact us via our dedicated using either:
    </p>
    <p>
      <b>Our dedicated toll free support line : </b><a style="text-decoration:none;" href="tel:(833) 561-2178">(833) 561-2178</a><br/>
      <b>Or our email support team : </b><a style="text-decoration:none;" href="support@boosthealthstore.com"><span class="__cf_email__">support@boosthealthstore.com</span></a>
    </p>
    <p>
    Please note that if you have a payment related issue that requires immediate attention we would appreciate if you called us so we can resolve it as quick as possible, email queries may take longer to address and conclude depending on any follow up questions that we may have. 
    <br/><br/>
    We look forward to assisting you.
    </p>
    <p>1000476461 Ontario Inc<br>16 Mile Creek, 502, Oakville, Ontario, Canada, L6M 0R2</p>
  </div>
</div>

<style>
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>