---

---
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Terms and Conditions</h1>
    <p>Thank you for considering the purchase of our products. Before commencing, please take some time and read the terms and condition to be fully aware of our practices and policies. If you have any questions, please reach out to us using the below:</p>
    <p>Email: <a style="text-decoration:none;">support@boosthealthstore.com</span></a><br>
    Phone: <!-- <a style="text-decoration:none;" href="tel:0333 006 5239">0333 006 5239</a> --><a style="text-decoration:none;" href="tel:(833) 561-2178">(833) 561-2178</a></p>
      By accessing the website at https://totalboosthealth.com/ and placing an order on
      it, you are agreeing to be bound by these terms of service, all applicable laws and
      regulations, and agree that you are responsible for compliance with any applicable
      local laws. If you do not agree with any of these terms, you are prohibited from
      using or accessing this site. The materials contained in this website are protected
      by applicable copyright and trademark law. 1000777135 BoostbitLimited aims to provide
      you the best service possible under the below conditions.
    </p>
    <p><strong>Legal Age</strong></p>
    <p>
      You must be the age of majority or older in your jurisdiction or state of residence
      to purchase items from the Site. By placing an order through the Site, you represent
      that you are at least the age of majority in your jurisdiction of residence and that
      the person to whom any product will be delivered is also the age of majority. Our
      company reserves the right to request any buyer to provide written proof of age in
      any form. At the time of delivery, any shipment containing a product may require
      further the signature of an adult possessing valid picture identification issued by
      a government agency proving that he or she is at least the age of majority..
    </p>
    <p><strong>Orders</strong></p>
    <p>
      All orders placed through the Site are subject to our companies acceptance. Your
      preferred payment method will be charged, and the funds debited at the time you
      place any order to our website. After your order has been placed, we will provide
      you with an email confirming our receipt of your order. The confirmation you receive
      means we have received all information fields and that payment has been made but
      does not constitute our acceptance of your order. It is our intention to fulfil all
      orders however if we find the order suspicious or the requested shipping address is
      outside of our chosen fulfilment jurisdictions we may ask for further information or
      decline based on the circumstances. We may refuse to accept or may cancel any order,
      whether or not the order has been confirmed, for any or no reason, and without
      liability to you or anyone else. If your payment card or payment method has already
      been charged for an order that is later cancelled by ourselves, we will issue you a
      refund. If you do not receive confirmation that your order has been placed, please
      contact our customer care department. Your order will be deemed accepted upon its
      shipment and your receipt of a shipment confirmation of your order.
    </p>
    <p>
      We may, in our sole discretion, not accept an order or limit or cancel quantities
      purchased per person, per household or per order. Some reasons we may do so include,
      but are not limited to, the following:
    </p>
    <ul>
      <li>
        a. Orders that, in our sole discretion, appear to be placed by dealers, resellers
        or distributors.
      </li>
      <li>
        b. Orders that appear to be shipped to a freight forwarding company for
        reshipment.
      </li>
      <li>
        c. Orders that cannot be processed as a result of incorrect or invalid billing,
        shipping or payment information. Be sure to double-check your information when
        placing an order. We cannot process orders for several reasons including, but not
        limited to:
        <ul>
          <li>
            i. Incorrect credit or debit card information such as card number, expiration
            date and card security value;
          </li>
          <li>
            ii. Incorrect payment method billing information (billing information provided
            must be the same as what your financial institution has on record);
          </li>
          <li>
            iii. Insufficient or incorrect shipping address such as street address, city,
            state/province, ZIP or postal code.
          </li>
        </ul>
      </li>
      <li>
        d. Orders, in our sole discretion, that we suspect to be fraudulent, we reserve
        the right to cancel or not accept any order that we suspect to have been placed as
        a result of fraudulent activity. We further reserve the right to cancel or not
        accept subsequent orders from customers with a previous fraudulent order history.
      </li>
      <li>e. Orders connected to previous credit card disputes.</li>
    </ul>

    <p>
      <strong>Cancelation Policy.</strong>
    </p>
    <p>
      We suspend orders for one hour before initiating fulfillment and the dispatch of
      goods, customers may cancel their order in this time period of they so desire.
      Products which have been shipped already are not eligible for cancelation, they may,
      at our sole discretion be refunded if the product is returned to us unopened and in
      good condition. For more information please read our returns policy.
    </p>

    <p>
      <strong>Payments.</strong>
    </p>
    <p>
      Our company accepts several methods of payment for you to purchase our merchandise
      including, but not limited to, credit cards and debit cards. Some methods of payment
      are only available in certain countries. We reserve the right to request additional
      evidence or proof of billing information or other information associated with the
      credit or debit card account used to purchase Merchandise from the Site. In the
      event that the requested evidence or proof is not provided or is insufficient, we
      reserve the right to refuse to accept the order. If you believe your credit or debit
      card might have been used in a fraudulent manner to purchase Merchandise, please
      contact our customer care department.
    </p>
    <p>
      <strong>Shipping Policy</strong>
    </p>
    <p>
      Packages will usually be handed over to the courier within one working day from a
      successful order and will arrive within 3-5 business days with standard shipping and
      may come with tracking, please check your inbox for your shipping confirmation
      email. Please be advised that shipments are not sent out on Saturdays, Sundays, or
      any Holidays. We do not guarantee arrival dates or times but aim to get your order
      to your door as soon as we can. Delivery time for orders will vary depending on the
      location and will be specified in the confirmation email. If you feel you are
      experiencing any delay in the delivery of your product, you may contact our customer
      care department at
      <a href="tel: 833-268-5969"> 833-268-5969</a> or
      <a
        href="/cdn-cgi/l/email-protection#4635333636293432062b273e2f2b332b202f3225276825292b"
        ><span
          class="__cf_email__"
          data-cfemail="a3d0d6d3d3ccd1d7e3cec2dbcaced6cec5cad7c0c28dc0ccce"
          >support@totalboost.com</span
        ></a
      >. If for some reason you do not receive the product after the time period specified
      in your confirmation email, we recommend that you contact customer support at
      <a href="tel: 833-268-5969"> 833-268-5969</a>
    </p>
    <p>
      <strong>Returns</strong>
    </p>
    <p>
      All orders are secured with a 30-Day Money Back Guarantee. To request a refund,
      simply contact us at either
      <a href="tel: 833-268-5969"> 833-268-5969</a> or
      <a
        href="/cdn-cgi/l/email-protection#15666065657a67615578746d7c786078737c6176743b767a78"
        ><span
          class="__cf_email__"
          data-cfemail="8cfff9fcfce3fef8cce1edf4e5e1f9e1eae5f8efeda2efe3e1"
          >support@totalboost.com</span
        ></a
      >
       Please do not send back packages without consulting our customer service team first
      as this may cause delays in any refunds that may be issued. Our customer support
      representatives will be happy to help with instructions on how to return your order
      to our warehouse and receive your refund. We look forward to assisting you.
    </p>
    <p>
      <strong>Taxes</strong>
    </p>
    <p>
      All orders are subject to applicable taxes in the states to which they are shipped.
    </p>
    <p>
      <strong>Force Majeure</strong>
    </p>
    <p>
      Our company shall not be responsible for any failure to perform due to unforeseen
      circumstances or to causes beyond Our reasonable control, including but not limited
      to: acts of God, such as fire, flood, earthquakes, hurricanes, tropical storms or
      other natural disasters; war, riot, arson, embargoes, acts of civil or military
      authority, or terrorism; strikes, or shortages in transportation, facilities, fuel,
      energy, labor or materials; failure of the telecommunications or information
      services infrastructure; hacking, SPAM, or any failure of a computer, server or
      software, for so long as such event continues to delay our performance.
    </p>
    <p>
      <strong>Indemnity</strong>
    </p>
    <p>
      You agree to defend, indemnify, and hold harmless 1000777135 BoostbitLimited, its
      affiliates, officers, directors, shareholders, employees, independent contractors,
      telecommunications providers, and agents, from and against any and all claims,
      actions, loss, liabilities, expenses, costs, or demands, including, but not limited
      to, reasonable legal and accounting fees, for all damages directly, indirectly,
      and/or consequentially resulting or allegedly resulting from Your use, misuse, or
      inability to use the Website, or Your breach of any of these terms and conditions of
      this Agreement. We shall promptly notify You by electronic mail of any such claim or
      suit, and cooperate fully (at Your expense) in the defense of such claim or suit. If
      1000777135 BoostbitLimited does not hear from You promptly, 1000777135 BoostbitLimited
      reserves the right to defend such claim or suit and seek full recompense from You.
    </p>
    <p>
      <strong>Reversals and Chargebacks</strong>
    </p>
    <p>
      We consider chargebacks and reversals as potential cases of fraudulent use of our
      services and/or theft of services and as such will be treated. We reserve the right
      of filing a complaint with the appropriate local and federal authorities to
      investigate. Be advised that all activity and IP address information is being
      monitored and that this information may be used in a civil and/or criminal case(s)
      against a client if there is fraudulent use and or theft of services
    </p>
    <p>
      <strong>Limitation of Liability</strong>
    </p>
    <p>
      To the maximum extent permitted by applicable law, we and our affiliates do not
      accept or assume liability for any product or use of the product, including without
      limitation, liability for a product not being available for use, lost profits, or
      loss of business. In no event will our company or its officers, directors,
      subsidiaries, affiliates, employees or agents be liable to any party for indirect,
      incidental, special, consequential or punitive damages relating to a sale of
      merchandise even if advised of the possibility of such damages, or for any claim by
      any third party. You agree that for any liability related to the purchase of
      product, our company and its affiliates are not liable or responsible for any amount
      of damages above the amount paid for the applicable product. In some jurisdictions,
      limitations of liability are not permitted. In such jurisdictions, the foregoing
      limitations on liability may not apply.
    </p>
    <p>
      <strong>Proprietary Rights</strong>
    </p>
    <p>
      All text, graphics, interfaces, photographs, audio, video, sounds, images, artwork,
      computer code (including html code), programs, software, products, information, and
      documentation as well as the design, structure, selection, coordination, expression,
      "look and feel," and arrangement of any content contained on or available through
      the Site, unless otherwise expressly indicated in writing, are owned, controlled,
      and licensed exclusively by 1000777135 BoostbitLimited and/or its suppliers and are
      protected by copyright, trade secret, patent, and trademark law, as well as other
      state, national, and international laws and regulations. Except as expressly
      provided in writing, our company does not grant any express or implied intellectual
      property or proprietary right to you or any other person. Any downloadable or
      printable programs, information, or materials available through this Site and all
      intellectual property and/or proprietary rights related thereto, unless otherwise
      expressly indicated in writing, are owned exclusively by our company and/or its
      suppliers.
    </p>
    <p>
      <strong>Links from Other Sites</strong>
    </p>
    <p>
      Our team has not reviewed all of the sites linked to this Site and are not
      responsible for the content of any off-site pages or any other sites linked to the
      Site. We do not take any responsibility for any information or claims that were made
      by other websites and encourage you to alert us if a website is making false claims
      and linking to our site or product at
      <a
        href="/cdn-cgi/l/email-protection#1d6e686d6d726f695d707c65747068707b74697e7c337e7270"
        ><span
          class="__cf_email__"
          data-cfemail="c2b1b7b2b2adb0b682afa3baabafb7afa4abb6a1a3eca1adaf"
          >support@totalboost.com</span
        ></a
      >
    </p>
    <p>
      <strong>No Medical Advice/Product Information.</strong>
    </p>
    <p>
      The Site does not provide medical advice and is not engaged in rendering medical or
      professional services or advice, and the information provided on the Site is not
      intended to replace medical advice offered by a health care provider. We strongly
      recommend that you promptly consult a physician or professional health care provider
      prior to use of any product. The statements made on the Site have not been evaluated
      by the responsible governing bodies. Our products are not intended to diagnose, cure
      or prevent any disease. Neither the products nor the ingredients in the products
      have been approved or endorsed any regulatory agency for treatment of obesity or to
      cause weight loss. You should not construe anything on the Site as a promotion or
      solicitation for any product or service or for the use of any product or service
      that is not authorized by the laws and regulations of the country where you are
      located.
    </p>
    <p>
      <strong>Complete Agreement</strong>
    </p>
    <p>
      This Agreement constitutes the entire agreement between the parties with respect to
      Your access and use of the Website and Your ordering and use of the Products, and
      supersedes and replaces all prior understandings or agreements, written or oral,
      regarding such subject matters.
    </p>
    <p>
      <strong>Governing Law.</strong>
    </p>
    <p>
      This Agreement and its performance shall be governed by the laws of the Province of
      UK, without regard to its conflict of laws provisions. Our company makes no
      representation that the Site is appropriate or available for use in other locations,
      and access to the Site from territories or nations where any aspect of the Site is
      illegal is hereby expressly prohibited. You access the Site solely on your own
      volition and are responsible for compliance with all applicable local laws.
    </p>
    <p>
      If you have any questions or concerns please feel free to contact us via our
      dedicated using either:
    </p>
    <p>
      Our dedicated toll free support line:
      <a href="tel: 844-442-6364"> 844-442-6364</a>
    </p>
    <p>
      Or our email support team:
      <a
        href="/cdn-cgi/l/email-protection#1d6e686d6d726f695d707c65747068707b74697e7c337e7270"
        ><span
          class="__cf_email__"
          >support@totalboost.com</span
        ></a
      >
    </p>
    <p>1000777135 BoostbitLimited</p>
    <p>Boostbit Limited - 52 Cats Lane, Sudbury, Suffolk CO1 2SQ</p>
  </div>
</div>

<style>
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>