---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#252525">

    <title>
        {title}
    </title>
    
<meta property="og:site_name" content="Boost Waist">
<meta property="og:title" content="Boost Waist">
<meta property="og:type" content="website">
<meta property="og:description" content="Boost Waist">
<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/fontawesome.css">
<link rel="stylesheet" href="/fonts/icofont/icofont.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@21.0.4/build/css/intlTelInput.css" />
</head>
	<slot />
</html>

